$linkedinBlue1:#0072b1;
$linkedinBlue2:#0073b1;
$linkedinBlue3:#041f69;

body{
    margin: 0;
    padding: 0;
}

.login-wrapper{
    background-color: white !important;
    font-family: system-ui;
    height: 100vh;
    .login-wrapper-inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .heading{
        margin-left: -200px;
        font-weight: 500;
        color: rgb(0, 0, 0, 0.9);
    }
    .sub-heading{
        margin-left: -10px;
        margin-top: -15px;
    }
}

.login-btn{
    width: 75%;
    height: 40px;
    cursor: pointer;
    background-color:$linkedinBlue2;
    color: white;
    border: none;
    border-radius: 30px;
    outline: none;
    font-family: system-ui;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    margin-top: 20px;
}

.login-btn:hover{
    background-color:$linkedinBlue3;   
}

.auth-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 400px;
    .common-input{
        height: 20px;
        padding: 10px;
        width: 70%;
        background-color: white;
        outline: none;
        border: 1px solid #212121;
        border-radius: 3px;
        color: #212121;
        font-family: system-ui;
        font-size: 12px;
        margin: 10px 0;

    }   
    .common-input:focus{
        outline: 1px solid $linkedinBlue1
    }    
}

.linkedinlogo{
    width: 50px;
    position: absolute;
    top: 2%;
    left: 3%;
}

.hr-text{
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;
    margin-left: 150px;
 &:before{
    content: "";
    background: linear-gradient(to right, transparent, #818078, transparent);
    position:absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
 }   
 &:after{
    content: attr(data-content);
    position: absolute;
    display: inline-block;
    color: black;
    padding: 0 0.5em;
    line-height: 1.5em;
    background-color: #fcfcfa;
 }
}
.google-button-container{
    
    .google-button{
        width: 300px !important;
    }

    .goto-signup{
        text-align: center;
        font-size: 12px;
    }

    .join-now{
        color: $linkedinBlue1;
        font-family: system-ui;
        cursor: pointer;
    }
}